* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

#bodyContainer {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
  background-color: #c48c3e; }

.cabecera {
  background-image: url(../img/fondoNav.jpg); }
  .cabecera h1 {
    text-align: center;
    color: aliceblue; }
  .cabecera .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none; }
  .cabecera a {
    text-decoration: none;
    color: aliceblue; }

.principal .frase1 {
  text-align: end; }

.principal .frase2 {
  text-align: end; }

.footer {
  margin-top: 100px; }
  .footer .h5 {
    text-align: center; }
  .footer .redes {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .footer img {
    padding: 10px; }

.Main2 .formulario {
  margin: auto auto;
  padding: 100px 160px;
  width: 50%; }

.Main3 {
  margin: 25px;
  display: grid;
  grid-template-columns: repeat(3 1fr);
  grid-template-rows: repeat(3 1fr);
  grid-template-areas: "h2 h2 h2" "h3Exp . pExp" "h3Tr . pTr"; }
  .Main3 .exp {
    padding: 10px;
    border: orangered 2px solid; }
  .Main3 .trab {
    padding: 10px;
    border: orangered 2px solid; }
  .Main3 .h2 {
    margin: 100px;
    text-align: center;
    color: aliceblue; }

.h2 {
  grid-area: h2; }

.h3exp {
  grid-area: h3Exp; }

.pexp {
  grid-area: pExp; }

.h3trabajos {
  grid-area: h3Tr; }

.pTrabajos {
  grid-area: pTr; }

.Main4 h2 {
  text-align: center;
  margin: 100px;
  padding: 100px;
  color: aliceblue; }

.Main4 .fotos {
  list-style-type: none; }

.Main4 a {
  text-decoration: none;
  font-size: large;
  font-weight: bolder;
  color: aliceblue; }

.Austria {
  margin-top: 100px; }
  .Austria h2 {
    text-align: center;
    color: aliceblue; }

.HongKong {
  margin-top: 100px; }
  .HongKong h2 {
    text-align: center;
    color: aliceblue; }

.Singapur {
  margin-top: 100px; }
  .Singapur h2 {
    text-align: center;
    color: aliceblue; }

.CR {
  margin-top: 100px; }
  .CR h2 {
    text-align: center;
    color: aliceblue; }

.Alaska {
  margin-top: 100px; }
  .Alaska h2 {
    text-align: center;
    color: aliceblue; }

.Main5 h2 {
  text-align: center;
  margin: 100px;
  color: aliceblue; }

.Main5 p {
  text-align: center; }

.Main5 h3 {
  color: aliceblue; }

.Main5 .slide img {
  height: 600px; }

.Main6 h3 {
  color: aliceblue;
  text-align: center;
  margin-top: 100px; }

@media screen and (max-width: 480px) and (min-width: 1px) {
  .cabecera h1 {
    text-align: center; }
  .cabecera .navbar {
    display: flex;
    flex-direction: column; }
  .Main2 .formulario {
    margin: 50px;
    padding: 40px;
    width: 100%; }
  .Main3 {
    display: flex;
    flex-direction: column; }
  .Main4 h2 {
    text-align: center; }
  .Main4 img {
    height: 300px; }
  .Main4 ul {
    margin: 0;
    padding: 0; }
  .Main4 .fotos {
    display: flex;
    flex-direction: column; }
  .SingapurFlex {
    display: flex;
    flex-direction: column; }
  .AlaskaFlex {
    display: flex;
    flex-direction: column; }
  .HKFlex {
    display: flex;
    flex-direction: column; }
  .CRFlex {
    display: flex;
    flex-direction: column; }
  .VienaFlex {
    display: flex;
    flex-direction: column; }
  img {
    margin: 0;
    width: 100%; }
  .Main5 .slide img {
    height: 300px; } }
