
    .Main5{

        h2{
            text-align: center;
            margin: 100px;
            color: $blanquito;
        }
        p{
            text-align: center;
        }
        h3{
            color: $blanquito;
        }
        .slide img{
            height: 700px;
        }
    }