
    .Main5{

        h2{
            text-align: center;
            margin: 100px;
            color: $blanquito;
        }
        h3{
            color: $blanquito;
        }
        .CarruselC{
          margin-left: 50%;
        }
        .CarruselB{
            margin-left: 50%;
        }
        .CarruselF{
            margin-left: 50%;
        }

    }