
   .footer{ margin-top: 100px;
    .h5{
        text-align: center;
    }
    .redes{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
     }
      img{
        padding: 10px;
      } 
    }