
    .Main4{
        h2{
         text-align: center;
         margin: 100px;
         padding: 100px;
         color: $blanquito;
        }
        .fotos{
         list-style-type: none;
        }
        a{
         text-decoration: none;
         font-size: large;
         font-weight: bolder;
         color:$blanquito;
        }
        
     }