
    .Main4{
        h2{
         text-align: center;
         margin: 100px;
         padding: 100px;
         color: $blanquito;
        }
        .container{
            width: 800px;
            height: 600px;
            position: relative;
            overflow: hidden;

           
        }
         img{
            width: 100%;
            height: 600px;
        }
        p{
           
            position: absolute;
            font-size: 2rem;
            color: rgb(181, 69, 29);
           bottom: 0px;
          
        
        }
        .container p a{
text-decoration: none;
color: orangered;
font-weight: bolder;
        }
       

       }