@media screen  and (max-width: 480px)and (min-width: 1px) {

    .cabecera{
    
    h1{
        text-align: center;
    }
    .navbar{
        display: flex;
        flex-direction: column;
       
    }
}
.Main2{
.formulario{
    width: 100%;
    border-radius: 5%;
    border: solid 2px orangered;
}
}

.Main3{

display: flex;
flex-direction: column;
}

.Main4{
h2{
    text-align: center;
}
img{  width: 100%;
}
.fotos{
display: flex;
flex-direction: column ;
}

}
.SingapurFlex{ display: flex;
    flex-direction: column;
    img{
        width:100%
    }
}
.AlaskaFlex{
    display: flex;
        flex-direction: column;
        img{
            width:100%
        }
}
.HKFlex{
    display: flex;
        flex-direction: column;
        img{
            width:100%
        }
}
.CRFlex{ display: flex;
    flex-direction: column;
    img{
        width:100%
    }
}
.VienaFlex{ display: flex;
    flex-direction: column;
    img{
        width:100%
    }

}


}