@media screen  and (max-width: 480px)and (min-width: 1px) {

    .cabecera{
    
    h1{
        text-align: center;
    }
    .navbar{
        display: flex;
        flex-direction: column;
       
    }
}
.Main2{
.formulario{
   margin: 50px;
   padding: 40px;
   width: 100%;
}
}

.Main3{

display: flex;
flex-direction: column;
}

.Main4{
h2{
    text-align: center;
}
 img{
 
    height: 300px;
}
ul  {
    margin: 0;
    padding: 0;
}

.fotos{
display: flex;
flex-direction: column ;

}

}
.SingapurFlex{ display: flex;
    flex-direction: column;

}
.AlaskaFlex{
    display: flex;
        flex-direction: column;

}
.HKFlex{
    display: flex;
        flex-direction: column;
    
}
.CRFlex{ display: flex;
    flex-direction: column;

}
.VienaFlex{ display: flex;
    flex-direction: column;}
    img{ margin: 0;
        width:100%
        
    }


.Main5{
    .slide img{
        height: 300px;
    }
}


}