
$beige: rgb(196, 140, 62);
$Naranjita: orangered;
$blanquito: aliceblue;

@import "./body";
@import "./header";
@import "./Principal";
@import "./footer";
@import "./contactanos";
@import "./SobreMi";
@import "./fotos";
@import "./austria";
@import "./HongKong";
@import "./singapur";
@import "./CR";
@import  "./alaska";
@import "./Eventos";
@import "./Ubicacion";
@import "./mediasQueries";



